{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#full-name-input">Enter your full name</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endif %}

      {% if not error %}
      {% endif %}

      <h1 class="govuk-heading-l">
        Please enter your full name
      </h1>

      <form class="form" method="post">

        
        <div class="govuk-form-group {% if (error) %} govuk-form-group--error {% endif %}">
          <label class="govuk-label" for="full-name">
            Full name
          </label>
          {% if error %}
            <span id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter your full name
            </span>
            {% endif %}
          <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="full-name">
        </div>
        

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
