{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Application to travel to Mars is currently unavailable
      </h1>

      <p>
        Sorry, we have reached the maximum numbner of applicants for Mars travelling.
      </p>

      <p>
        You can go try again later.
      </p>

    </div>
  </div>

{% endblock %}
